@model GunShop.ViewModels.HomeViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@{
    <h1><a asp-controller="Home" asp-action="AddManufacturer">Add Manufacturer</a></h1>
    <h1><a asp-controller="Home" asp-action="AddCommodityType">Add Commodity Type</a></h1>
    <h1><a asp-controller="Home" asp-action="ClearAllAnonymousCharts">Empty Anonymous Charts</a></h1>
    <h1><a asp-controller="Home" asp-action="AddCategory">Add Category</a></h1>
}
