@model GunShop.ViewModels.HomeViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@{
    <h1>@Model.CommodityBOs.Count()</h1>
    <h1><a asp-controller="Home" asp-action="AddCommodityType">New</a></h1>
    @foreach(var c in Model.CommodityBOs)
    {
        <p> @c.ManufacturerName</p>

    }
}
