@model GunShop.ViewModels.CategoryViewModels.CategoryViewModel

@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Add Category</h2>


<div id="extendableInputsList" ng-controller="TestController">
    <div ng-repeat="char in charsList">
        <label>Characteristic {{$index+1}}:</label>
        <span>
            <input ng-model="char.name" type="text" />
            <label>Possvals:</label>
            <input pattern="^[1-9a-zA-Z;]{0,}$" ng-model="char.possvals" type="text" />
        </span>
    </div> 
    <label>Characteristic N:</label>
    <input ng-keypress="extendDown($event)" type="text" />
</div>


<form asp-action="AddCategory">
    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="MasterCategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("MasterCategoryId", new SelectList(Model.AllCategories, "Id", "Name"), new { @class = "btn-default btn-sm" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submitButton" type="button" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="/js/AddCategory.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
